<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title>Мэйнстрим</title>
  <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <canvas id="snow-canvas"></canvas>
    <div class="div-width">
      <img src="../static/balenciaga-banner.png" alt="banner">
    </div>  
    <header class="site-header">
        <div class="container">
            <div class="header-row">
              <div class="catalog">
                <a class="catalog-text" href="">Каталог</a>
              </div>
              
        <div class="logo">
            <img src="../static/logo.svg" alt="Логотип сайта">
        </div>

        <div class="actions">

            
          <a height="34px" href="{% url 'search_logged' %}" class="search"><img src="../static/search.png" height="34px"></a>

          <div class="user-info">
            <span class="user-nickname" id="nicknameDisplay">{{ nickname }}</span>
            <img id="avatarImg"
              class="user-avatar"
              src="../static/default-avatar-icon-of-social-media-user-vector.jpg"
              alt="avatar"
              onclick="toggleDropdown()"
            />
            <div class="dropdown" id="dropdown">
              <a href="#">Профиль</a>
              <a href="{% url 'logout' %}">Выйти</a>
            </div>
          </div>
        </div>

        </div>
      </div>
      <div class="clock">
        <span id="live-clock">00:00:00</span>
      </div>
    </header>  
    <main class="main-outline">
        <h1 style="font-size:48px; margin: 22px 0 22px 18px; font-weight: 10;">КАТАЛОГ</h1>
        <div class="catalog-list">
          {% for item in data %}
          <div class="catalog-category">
            <div class="catalog-name">{{ item.category.category }}</div>
            <div class="products">
              {% for product in item.products %}
              <a href="{% url 'product' product.id %}" class="product-link">
              <div class="product">
                  <img src="{{ product.product_image_set.first.image }}" alt="{{ product.name }}">
                <div class="product-info">
                  <b>{{ product.name }}</b>
                  <div class="price">{{ product.price }}$</div>
                </div>
              </div>
              </a>
              {% endfor %}
            </div>
            <div class="arrow">
                <img src="../static/arrow.png" alt=">">
            </div>
          </div>
          {% endfor %}
        </div>
    </main>
    <footer class="footer-1">

    </footer>
     <div class="cube-container">
        <div id="cube">
            <div class="face front">BAL</div>
            <div class="face back">ENC</div>
            <div class="face left">IAG</div>
            <div class="face right">A</div>
            <div class="face top">©</div>
            <div class="face bottom">25</div>
        </div>
    </div>

      

    <script src="../static/dropdown.js"></script>
    <script src="../static/cube.js"></script>
    <script src="../static/snow.js"></script>
    <script src="../static/live-clock.js"></script>
</body>
</html>