<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Регистрация В СВАГУ</title>
  <link rel="stylesheet" href="../static/style.css" />
</head>
<body>

<div class="wrapper">

  <div class="card">
    <div class="logo" style="margin-bottom: 48px;">
      <img src="../static/logo.svg" alt="Логотип сайта">
    </div>
    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <h2>Регистрация</h2>

      {% if error %}
        <p class="form-error">{{ error }}</p>
      {% endif %}

      <div class="field">
        <label>Никнейм</label>
        <input type="text" name="nickname" placeholder="nickname" required />
      </div>

      <div class="field">
        <label>Email</label>
        <input type="email" name="email" placeholder="email@example.com" required />
      </div>

      <div class="field">
        <label>Телефон</label>
        <input type="text" name="telephone" placeholder="+7 999 999 99 99" required />
      </div>

      <div class="field">
        <label>Пароль</label>
        <input type="password" name="password" placeholder="" required />
      </div>

      <div class="field">
        <label>Повторите пароль</label>
        <input type="password" name="password2" placeholder="" required />
      </div>


      <button class="submit-btn" type="submit">Зарегистрироваться</button>
      <p class="login-link">Уже есть аккаунт? <a href="{% url 'login' %}">Войти</a></p>
    </form>
  </div>

  <div class="footer-bar"></div>
</div>

<script>
  document.getElementById('avatarInput').addEventListener('change', function () {
    const file = this.files[0];
    if (!file) return;
    const reader = new FileReader();
    reader.onload = e => document.getElementById('avatarPreview').src = e.target.result;
    reader.readAsDataURL(file);
  });
</script>

</body>
</html>