{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title>Мэйнстрим</title>
  <link rel="stylesheet" href="{% static 'style.cc'}">
</head>
<body>
    <div class="div-width">
      <img src="../static/balenciaga-banner.png" alt="banner">
    </div>  
    <header class="site-header">
        <div class="container">
            <div class="header-row">
                <div class="catalog">
                    <a class="catalog-text" href="{% url 'home' %}">Каталог</a>
                </div>
                
                <div class="logo">
                    <img src="../static/logo.svg" alt="Логотип сайта">
                </div>

                <div class="actions">
                <a height="34px" href="" class="search"><img src="../static/search.png" height="34px"></a>

                <a class="login-text" href="">Войти</a>
            </div>

        </div>
    </header>  
    <main class="main-outline">
        <div class="path">
            <ul class="nav-list">
                <li>Каталог</li>
                <li>Название продукта</li>
            </ul>
        </div>
        <div class="product-template">
            <div class="left-part">
                <div class="image-container">
                    {% if images %}
                     <img src="{{ images.0.image }}" class="image">
                    {% endif %}

                    <div class="overlay">
                        <div class="arrow-left"><</div>
                        <div class="dots">
                            {% for img in images %}
                            <div class="dot {% if forloop.first %}dot-active{% endif %}"></div>
                            {% endfor %}
                        </div>
                        <div class="arrow-right">></div>
                     </div>
                </div>
            </div>
            <div class="right-part">
                <h2>{{ product.name }}</h2>
                <p>{{ product.desc }}</p>
                <p class="price">{{ product.price }}</p>
                <div class="size">
                    <p>Размер:</p>
                    <ul class="nav-list">
                        <li class="size-li">S</li>
                        <li class="size-li">M</li>
                    </ul>
                </div>
                <div class="buy">
                    <div class="buy-text">Положить в корзину</div>
                    <img src="../static/cart.png" class="icon" width="35px" height="35px">
                </div>
            </div>
        </div>
        <div class="similar">
            <div class="name">
                <h2>Похожие</h2>
            </div>
            <div class="list">
                {% for item in similar %}
                <a href="{% url 'product' item.id %}">
                <div class="product">
                    <img src="{{ item.product_image_set.first.image }}" alt="{{ item.name }}">
                    <div class="product-info">
                        <p>{{ item.name }}</p>
                        <div class="price">{{ item.price }}</div>
                    </div>
                </div>
                </a>
                {% empty %}
                    <p>Нет похожих товаров.</p>
                {% endfor %}
            </div>
        </div>
    </main>
    <footer class="footer-1">
        
    </footer>  
</body>
</html>