<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="wrapper">
        <header class="header">
            <div class="header-container">
                <div class="header-nav">
                    <nav class="header-nav__navigation">
                        <ul class="header-nav__ul">
                            <li class="header-nav__li"><a href="">Каталог</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="header-logo">
                    <img class="header-log__img" src="https://www.balenciaga.com/on/demandware.static/-/Sites/default/dw09f423ba/images/logo/BAL/logo.svg" alt="balenciaga">
                </div>
                <div class="header-nav_R">
                    <nav class="header-nav__navigation_R">
                        <ul class="header-nav__ul_R">
                            <li class="header-nav__li_R"><a href="">Войти</a></li>
                            <li class="header-nav__li_R"><a href="">Поиск</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
    </div>
    <main>
        {%block main%}
        {%endblock%}
    </main>
    <footer></footer>
</body>
</html>